body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* This section covers the header styles */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header h1 {
    font-size: 48px;
}

.heroheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.heroheader a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.profile {
    display: flex;
    min-width: 0;
    gap: 15px;
    padding: 50px 200px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    width: auto;
}

.profile-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.button {
    display: flex;
}

.button button {
    background-color: #3882F6;
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
}

.profile-image img {
    display: flex;
    width: 450px;
}

/* This section covers the "random information" styles */

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-top: 20px;
}

.information h1 {
    display: flex;
    font-size: 32px;
    font-weight: 800;
    color: #1f2937;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: center;
    padding: 0 200px;
}

.information ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.box img {
    display: flex;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
}

.img-text {
    color: gray;
    display: flex;
    width: 150px;
    text-align: center;
}

/* This section covers the "quote" styles */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1f2937;
    padding: 40px 280px;
}

.quote h3 {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.subquote {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}


