body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* This section covers the header css */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px 200px;
}

.heroheader {
    display: flex;
    justify-content: space-between;
}

.heroheader a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.profile {
    display: flex;
    min-width: 0;
    gap: 20px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.button {
    display: flex;
}

.button button {
    background-color: #3882F6;
    color: #ffffff;
}

.profile-image {
    display: flex;
    width: 300px;
}

.profile-image img {
    width: 100%;
    height: auto;
}

/* This section covers the "random information" css */

.information {
    background-color: white;
}